/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --bg-color: #fff1f7;
  --header-title-color: #ffc2e6;
  --header-accent-color: #ff8dcb;
  --subtitle-font-color: #353430;
  --subtitle-background-color: #ff8dcb;
  --main-font-color: #353430;
  --accent-color: #353430;
  --btn-hover-color: rgba(50, 49, 45, 0.4);
  background-image: url(../images/cover-image-light.png);
  --element-visible: hidden;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #fff1f7;
    --header-title-color: #ffc2e6;
    --header-accent-color: #ff8dcb;
    --subtitle-font-color: #353430;
    --subtitle-background-color: #ff8dcb;
    --main-font-color: #353430;
    --accent-color: #353430;
    --btn-hover-color: rgba(50, 49, 45, 0.4);
    --element-visible: hidden;
  }

  .page {
    background-image: url(../images/cover-image-light.png);
  }
}
