/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page. На его основе работает скрипт. */
  min-inline-size: 375px;
  width: 100%;
  background-color: var(--bg-color, #000028);
  font-family: var(--main-font, sans-serif);
  color: var(--main-font-color, #f1b2ce);
  font-size: var(--main-font-size, 18px);
  background-image: url(../images/cover-image-dark.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0 auto;
}

.content-section {
  padding-inline: 20px;
}

.header {
  padding: 20px;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  height: 100vh;
  min-height: 768px;
  position: relative;
}

.header__theme-menu {
  align-self: start;
  justify-self: center;
}

.header__theme-menu-list {
  list-style: none;
  display: flex;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
}

.header__theme-menu-button {
  padding: 0 13px;
  text-align: center;
  min-height: 26px;
  border: none;
  background-color: transparent;
  font-size: var(--main-font-size);
  font-family: inherit;
  line-height: 1;
  color: var(--accent-color);
  cursor: pointer;
  text-transform: lowercase;
}

.header__theme-menu-button_active {
  outline: 1px solid currentColor;
  pointer-events: none;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  outline: 1px solid var(--btn-hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid currentColor;
}

.header__title {
  color: var(--header-title-color);
  text-shadow: 4px 4px 0px var(--header-accent-color);
  font-size: var(--header-title-font-size);
  line-height: 0.825;
  margin-inline-start: -20px;
}

.title-decor {
  color: var(--subtitle-font-color);
  background-color: var(--subtitle-background-color);
  font-weight: 700;
  line-height: 1.3;
}

.header__text {
  inline-size: 50%;
  justify-self: end;
  align-self: center;
  font-size: inherit;
}

.header__decoration {
  visibility: var(--element-visible);
  position: absolute;
  text-transform: uppercase;
  top: 20px;
  right: 48px;
  color: var(--accent-color);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.39;
}

.header__decoration::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -18px;
  inline-size: 9px;
  block-size: 9px;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  border-radius: 50%;
  background-color: var(--accent-color);
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: 20px;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-bottom: 1px solid var(--accent-color);
  border-left: 1px solid var(--accent-color);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  right: 20px;
  top: 20px;
  inline-size: 25px;
  block-size: 25px;
  background-color: transparent;
  border-top: 1px solid var(--accent-color);
  border-right: 1px solid var(--accent-color);
}

/* CONTENT */

.content {
  margin-block: 60px;
  font-size: var(--main-font-size);
}

.content__block {
  padding-block-end: 80px;
}

.section__why,
.section__advices {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
}

.content__title {
  color: var(--accent-color);
  font-family: inherit;
  font-size: var(--main-font-size);
  font-style: normal;
  font-weight: 700;
  line-height: 1.3;
  margin-block: 0;
  /* margin-block-end: 20px; */
}

.section__causes .content__title {
  width: calc((1 / 3) * 100vw - 20px);
  margin-block-end: 20px;
}

.content__articles {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section__causes .content__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.content__subtitle {
  font-size: inherit;
  margin-block: 0 10px;
}

.content__text {
  font-family: inherit;
  font-size: inherit;
  line-height: 1.3;
  margin: 0;
}

.content__text:not(:last-child) {
  margin-block-end: 20px;
}

.content__link {
  text-decoration: none;
  color: inherit;
  text-shadow: 2px 2px 0px var(--subtitle-background-color);
}

.content__link:hover {
  border-bottom: 1px solid currentColor;
  outline-offset: 5px;
}

.content__link:focus {
  outline: none;
}

.content__link:focus-visible {
  outline: 1px solid currentColor;
}

.title-decor--accent {
  font-weight: 400;
}

.conent__article-subtitle {
  font-size: inherit;
  margin-block: 0 20px;
}

.gallery {
  margin: 0 0 60px;
}

.gattery__title {
  margin-block-end: 20px;
  font-size: var(--main-font-size);
}

.gallety__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
}

.gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery__picture {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.gallery__item:nth-child(1) {
  grid-column: 1/3;
  grid-row: 1/2;
}

.gallery__item:nth-child(2) {
  grid-column: 3/4;
  grid-row: 1/3;
}

.gallery__item:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/4;
}

.gallery__item:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}

.gallery__item:nth-child(5) {
  grid-column: 2/4;
  grid-row: 3/4;
}

.footer {
  height: 100vh;
  min-height: 768px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.footer__title {
  margin-inline-start: 0;
}

@media (max-width: 768px) {
  .header__title {
    --header-title-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
  .header {
    min-height: 1024px;
  }

  .header__theme-menu {
    align-self: center;
    justify-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    justify-content: end;
  }

  .section__causes .content__title {
    margin-block-end: 0;
  }

  .section__why,
  .section__advices {
    gap: 20px;
  }

  .section__causes .content__articles,
  .content__block.section__causes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .footer {
    max-height: 1024px;
  }
}

@media (max-width: 640px) {
  .header__text {
    inline-size: 100%;
  }
  .content__block {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .gattery__title {
    margin-block-end: 10px;
  }

  .gallety__list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

@media (max-width: 375px) {
  .header {
    padding: 10px;
    min-height: 668px;
  }

  .header__title {
    margin-inline-start: 0;
  }

  .decorated-zone::before {
    left: 10px;
    bottom: 10px;
  }

  .decorated-zone::after {
    right: 10px;
    top: 10px;
  }

  .header__decoration {
    top: 10px;
    right: 38px;
  }
  .content {
    margin-block: 40px;
  }

  .content-section {
    padding-inline: 10px;
  }
  .content__block {
    padding-block-end: 50px;
  }

  .content__block .content__title {
    width: 100%;
    margin-block: 0;
  }

  .gallery {
    margin: 0 0 40px;
  }

  .footer {
    min-height: 668px;
    padding: 10px;
  }
}
